<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <!-- CSS reset -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Resource style -->
    <script src="/static/js/modernizr.js"></script>


    <!-- Modernizr -->

    <title>Prathyush SP</title>
</head>

<body>
    <header>
        <!--
        <div class="header">
    <img src="img/profile.png" alt="logo" />
    <h1>My website name</h1>
</div>
-->
        <div class="container">
            <div class="row">
                <div id="rectangle" class="rectangle text-lg-center">
                    <img id="headerImage" src="/static/img/profile.png" style="margin-top:75px;" />
                </div>
            </div>
        </div>

        

    </header>

    <section id="cd-timeline" class="cd-container" style="margin-top: 350px;">
    </section>
    <!-- cd-timeline -->
    <script src="/static/js/jquery-1.12.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/main.js"></script>
    <!-- Resource jQuery -->
</body>

</html>